---
layout: main
---
<h2 class="home-page-header">Browse Categories</h2>

<section class="row categories">
  <div class="category">
    <a href="{{site.baseurl}}/writing/">
      <h2>Writing Guides</h2>
      <img src="{{site.baseurl}}/assets/img/idea.svg" alt="Writing Guides" />
    </a>
  </div>
  <div class="category">
    <a href="{{site.baseurl}}/tools/">
      <h2>Marketing Tools</h2>
      <img src="{{site.baseurl}}/assets/img/geometry.svg" alt="Startup Marketing Tools" />
    </a>
  </div>
  <div class="category">
    <a href="{{site.baseurl}}/technical-blogs/">
      <h2>Technical Blogs</h2>
      <img src="{{site.baseurl}}/assets/img/computer.svg" alt="Technical Blogs" />
    </a>
  </div>
</section>

<h2 class="home-page-header">Latest Posts</h2>
{% for post in paginator.posts %}
<article class="post">
  <div class="post-content">
    <h3 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h3>
    <p class="post-meta">By {{site.authors[post.author].name}}</p>
    <p class="post-summary">{{ post.content | strip_html | truncatewords: 30 }}</p>
  </div>
</article>
{% endfor %}

{% include pagination.html %}
