---
layout: main
---
<h2 class="home-page-header">Latest Post</h2>
{% assign post = paginator.posts.first %}
<article class="post" style="align-items: center">
  <div class="post-content">
    <h3 class="post-title" style="font-size: 2rem;"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h3>
    <div style="margin: 1rem 0 0;">
      <a href="{{post.url | prepend: site.baseurl}}">
        <img src="{{site.baseurl}}{{post.img}}" alt="{{post.title}}" style="width:100%;">
      </a>
    </div>
    <p class="post-meta">
      {% assign author = site.authors | where: 'name', post.author | first %}
      {% if author %}
      By {{author.display_name}}
      {% endif %}
      on {{post.date | date: '%b %d, %Y'}}&nbsp;&nbsp;&nbsp;—&nbsp;
      {% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}
    </p>
    <p class="post-summary">
      {{ post.content | strip_html | truncatewords: 30 }}<a style="text-decoration: none;" href="{{post.url | prepend: site.baseurl}}">read more</a>.
    </p>
  </div>
</article>

<h2 class="home-page-header">More Posts</h2>
{% for post in paginator.posts offset:1 %}
<article class="post row" style="align-items: center">
  <div class="column column-image">
    <a href="{{post.url | prepend: site.baseurl}}">
      <img src="{{site.baseurl}}{{post.img}}" alt="{{post.title}}" style="width:100%;">
    </a>
  </div>
  <div class="post-content column">
    <h3 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h3>
    <p class="post-summary">{{ post.content | strip_html | truncatewords: 15 }}<a style="text-decoration: none;" href="{{post.url | prepend: site.baseurl}}">read more</a>.</p>
  </div>
</article>
{% endfor %}

{% include pagination.html %}
