<section class="signup home">
  <h2>Everything You Need for Your Technical Blog</h2>
  <p><a href="https://draft.dev/?utm_source=academy&utm_medium=banner&utm_campaign=home#playbook">The Technical Content Manager’s Playbook</a> is a collection of resources that we use to produce high-quality, technical blog content for our clients.</p>
  <div class="button-container">
    <a class="button" href="https://draft.dev/?utm_source=academy&utm_medium=banner&utm_campaign=home#playbook">Download Today!</a>
  </div>
</section>

