<section class="signup">
  <a href="https://draft.dev/?utm_source=academy&utm_medium=banner&utm_campaign=post&utm_content={{ include.link }}#playbook">
    <img alt="The Technical Content Manager's Playbook" src="https://draft.dev/learn/assets/img/playbook.jpg" />
  </a>
  <h3>Build a Blog that Software Developers Will Read</h3>
  <p><a style="color: #ffffff;" href="https://draft.dev/?utm_source=academy&utm_medium=banner&utm_campaign=post&utm_content={{ include.link }}#playbook">The Technical Content Manager’s Playbook</a> is a collection of resources you can use to manage a high-quality, technical blog:</p>
  <ul>
    <li>A template for creating content briefs</li>
    <li>An Airtable publishing calendar</li>
    <li>A technical blogging style guide</li>
  </ul>
  <div class="button-container">
    <a class="button" href="https://draft.dev/?utm_source=academy&utm_medium=banner&utm_campaign=post&utm_content={{ include.link }}#playbook">Download Your Free Copy Today!</a>
  </div>
</section>

