$white: #ffffff;
$off-white: #F5F4F0;
$off-white-hover: #DEDDD9;
$dark-green: #778780;
$dark-green-hover: #5A6962;
$gold: #B3AA8D;
$gray: #8F8F8F;
$dark-gray: #5E5E5E;
$blue-gray: #3B3E4F;
$black: #000000;
