<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <header class="row">
    <section class="title column">
      <div class="header-title">
        <a href="{{site.baseurl}}/">
          DRAFT.DEV
          <span class="subtitle">Blog</span>
        </a>
      </div>
    </section>
    <section class="menu column">
      <div class="menu-items">
        <a href="https://draft.dev/">Home</a>
        <a href="https://draft.dev/#how">How it Works</a>
        <a href="https://draft.dev/#pricing">Pricing</a>
        <a href="{{site.baseurl}}/"><strong>Blog</strong></a>
      </div>
    </section>
  </header>
  <div class="wrapper">
    {{ content }}
  </div>

</body>
</html>
