---
layout: default
---
<section>
  {{ content }}
</section>
<footer>
  <p>
    <a href="{{site.baseurl}}/privacy/">Privacy Policy</a> |
    <a href="https://draft.dev/playbook?utm_source=academy&utm_medium=link&utm_campaign=footer">Content Manager's Playbook</a>
  </p>
  <p>
    &copy; <a href="https://draft.dev">Draft.dev</a>. All rights reserved.
    <a href="{{site.baseurl}}{{ site.social-rss }}" title="RSS Feed"><i class="fa fa-rss" aria-hidden="true"></i></a>
    <a href="https://twitter.com/draftdev"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/company/draft-dev/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
  </p>
  <p>
    Questions? Email <a href="mailto:info@draft.dev">info@draft.dev</a>
  </p>
</footer> <!-- End Footer -->
