---
layout: default
---
<section>
  {{ content }}
</section>
<footer>
  <p>
    Links:
    <a href="{{site.baseurl}}/technical-blogs/">Technical Blogs</a> |
    <a href="{{site.baseurl}}/tools/">Startup Marketing Tools</a> |
    <a href="https://draft.dev/?utm_source=academy&utm_medium=link&utm_campaign=footer#playbook">Content Manager's Playbook</a>
  </p>
  <p>
    &copy; <a href="https://draft.dev">Draft.dev</a>. All rights reserved.
    <a href="{{site.baseurl}}{{ site.social-rss }}" title="RSS Feed"><i class="fa fa-rss" aria-hidden="true"></i></a>
  </p>
  <p>
    Icons by <a href="https://www.flaticon.com/authors/smalllikeart/lineal-color/">smalllikeart on Flaticon</a>.
    Questions? Email <a href="mailto:info@draft.dev">info@draft.dev</a>
  </p>
</footer> <!-- End Footer -->
