---
layout: main
---
{% assign author = site.authors[page.author] %}
<article class="post">
  <div class="post-content">
    {% if page.img %}
    <div class="page-cover-image">
      <img class="page-image" src="{{site.baseurl}}{{page.img}}" alt="Background image for {{page.title}}" style="width:100%;">
      <div class="centered">
        <h1 class="page-title">{{page.title}}</h1>
      </div>
    </div>
    {% else %}
    <h1 class="page-title">{{page.title}}</h1>
    {% endif %}
    <p class="post-meta">
      By {{author.name}}&nbsp;&nbsp;&nbsp;—&nbsp;
      {% capture words %}{{ page.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}
    </p>

    {% if content contains "<!-- signup -->" %}
      {{ content | split:"<!-- signup -->" | first | markdownify }}
      {% include signup-inline.html link=page.id %}
      {{ content | split:"<!-- signup -->" | last | markdownify }}
    {% else %}
      {{ content | markdownify }}
    {% endif %}

    {% if page.link %}
      <p class="read-more"><a href="{{ page.link }}" target="_blank" class="text-center">Read More...</a></p>
    {% endif %}

    {% if page.author %}
      {% include author-bio.html %}
    {% endif %}

    {% include signup.html link=page.id %}

    {% unless page.link %}
      {% include disqus.html %}
    {% endunless %}
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
