.post {
  .page-cover-image {
    margin: -5px -40px 20px;
    position: relative;
    text-align: center;
    .page-image {
      opacity: .4;
    }
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      color: $darker-gray;
    }
  }

  h1.page-title {
    margin-top: 2rem;
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
  .post-meta {
    color: $gray;
    margin-top: .2rem;
  }
  .post-summary {
    margin-top: .2rem;
  }
  h4, h5 {
    font-size: 1rem;
  }
  h5 {
    color: $gray;
  }

  @media screen and (min-width: 800px) {
    h1.page-title {
      font-size: 2.828rem;
      line-height: 3rem;
    }
  }
}
