.signup {
  background-color: $blue-gray;
  color: $white;
  margin: 20px -40px;
  padding: 40px 40px;

  h3 {
    margin-top: 0;
  }

  .button-container {
    margin-top: 40px;
    text-align: center;
    a.button {
      padding: 15px 30px;
      background-color: $off-white;
      color: $blue-gray;
      border-radius: 0.25rem;
    }
    a.button:hover {
      text-decoration: none;
      background-color: $off-white-hover;
    }
  }
}

.signup.inline {
  background: $off-white;
  //border-bottom: 1px solid $gray;
  //border-top: 1px solid $gray;
  color: $dark-gray;
  margin: 1rem 0 0 0;
  padding: 1.4rem 1.8rem;
  p {
    margin-top: .7rem;
  }
  .button-container {
    margin-top: 1.2rem;
    margin-bottom: .7rem;
    a.button {
      padding: 15px 30px;
      background-color: $dark-green;
      color: $white;
      border-radius: 0.25rem;
    }
    a.button:hover {
      text-decoration: none;
      background-color: $dark-green-hover;
    }
  }
}

.signup.home {
  background: $off-white;
  text-align: center;
  padding: 20px 40px 100px;
  margin: -5px -40px 40px;
  color: $blue-gray;

  .button-container {
    margin-top: 40px;
    a.button {
      padding: 15px 30px;
      background-color: $dark-green;
      color: $white;
      border-radius: 0.25rem;
    }
    a.button:hover {
      text-decoration: none;
      background-color: $dark-green-hover;
    }
  }
}
