.signup {
  background-color: $blue-gray;
  color: $white;
  margin: 20px -40px;
  padding: 40px 40px;

  h3 {
    margin-top: 0;
  }

  .action {
    .email-group {
      float: left;
    }

    .submit-group {
      float: left;
      input[type=submit] {
        background-color: $off-white;
        cursor: pointer;
      }
      input[type=submit]:hover {
        background-color: $off-white-hover;
      }
    }
  }
}

.signup-home {
  text-align: center;
  border-bottom: 1px solid $off-white;
  padding-bottom: 40px;
  margin-bottom: 40px;
  h2 {
    font-size: 2rem;
  }

  .action {
    .email-group {
      display: inline-block;
    }
    .submit-group {
      display: inline-block;

      input[type=submit] {
        background-color: $dark-green;
        color: $white;
        cursor: pointer;
      }
      input[type=submit]:hover {
        background-color: $dark-green-hover;
      }
    }
  }
}

.signup, .signup-home {
  .action {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;

    input {
      margin: 0 0 0.5em 0;
      border: 0;
      padding: 10px 20px;
      line-height: 1.5rem;
      color: $dark-gray;
    }

    .email-group {
      margin-right: .5rem;
      input {
        border: 1px solid $light-gray;
      }
    }

    .submit-group {
      font-size: .9rem;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $gray;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $gray;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
      color: $gray;
    }
  }
}
